h1.header {
 text-align: center;
}

img.logo {
    display: block;
     margin-left: auto;
    margin-right: auto;
    width: 50%;   
}
a.leftbutton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 15%;
    cursor: pointer;
}

a.rightbutton {
    background-color: #225322;
    border: none;
    color: white;
    padding: 15px 64px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 10%;
    cursor: pointer;
}

div.header {
    color: white;
    padding: 15px 32px;
    text-align: center;
    
}

h2.subheader {
    padding: 15px 32px;
    text-align: center;
}

p.subheader {
    padding: 15px 32px;
    text-align: center;
}   

a.padding {
    padding: 15px 32px;
    text-align: center;
}

p.footer {
    text-align: center;
    padding: 15px 32px;
    color: black;
}

p {
    color: black;   
}

h2.header {
    color: black;
    text-align: center;
}

p.center {
    text-align: center;
}